Source: ros-kinetic-ros-comm
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/ros_comm
Standards-Version: 3.9.2

Package: ros-kinetic-ros-comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-filters, ros-kinetic-ros, ros-kinetic-rosbag, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-rosgraph, ros-kinetic-rosgraph-msgs, ros-kinetic-roslaunch, ros-kinetic-roslisp, ros-kinetic-rosmaster, ros-kinetic-rosmsg, ros-kinetic-rosnode, ros-kinetic-rosout, ros-kinetic-rosparam, ros-kinetic-rospy, ros-kinetic-rosservice, ros-kinetic-rostest, ros-kinetic-rostopic, ros-kinetic-roswtf, ros-kinetic-std-srvs, ros-kinetic-topic-tools, ros-kinetic-xmlrpcpp
Description: ROS communications-related packages, including core client libraries (roscpp, rospy) and graph introspection tools (rostopic, rosnode, rosservice, rosparam).
