Source: ros-groovy-roswtf
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-rostest,ros-groovy-catkin
Homepage: http://ros.org/wiki/roswtf
Standards-Version: 3.9.2

Package: ros-groovy-roswtf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-paramiko
Description: roswtf is a tool for diagnosing issues with a running ROS system. Think of it as a FAQ implemented in code.
